<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Edit Document</title>
    <link th:replace="layout/default-layout::link">
    <script type="text/javascript"></script>
</head>

<body th:replace="layout/default-layout::body(title='Edit Document')">
    <div th:fragment="content">
        <div class="mt-3 mb-4">
            <a class="btn btn-primary" th:href="@{/documents}">Back</a>
        </div>

        <form th:action="@{|/documents/${id}/edit|}" th:object="${documentForm}" method="POST" enctype="multipart/form-data">
            <div>
                <label for="title" class="form-label mt-4">Title</label>
                <input type="text" class="form-control mt-2" name="title" 
                       th:classappend="${#fields.hasErrors('title')}?is-invalid" 
                       th:field="*{title}">
                <span th:if="${#fields.hasErrors('title')}" 
                      th:errors="*{title}" 
                      class="invalid-feedback">Title Error</span>
            </div>
         
            <div>
                <label for="description" class="form-label mt-4">Description</label>
                <textarea class="form-control mt-2" name="description" 
                          th:classappend="${#fields.hasErrors('description')}?is-invalid" 
                          th:field="*{description}"></textarea>
                <span th:if="${#fields.hasErrors('description')}" 
                      th:errors="*{description}" 
                      class="invalid-feedback">Description Error</span>
            </div>
        
            
            <div>
                <img th:src="${documentForm.file != null} ? @{|/files/${documentForm.file}|} : @{/images/default.png}" 
                     alt="document"
                     class="img-rounded img-responsive"
                     style="max-height: 50px; max-width: 50px;">
                <label class="form-label mt-4" for="file">File</label>
                <input type="file" name="file" class="form-control mt-2">
            </div>
            <div class="mt-4">
                <input class="btn btn-success" type="submit" value="Save">
            </div>
        </form>
    </div>
</body>

</html>
